h1 {margin: 0.75em auto ;
    text-align: center;
}

#description {padding: -1em auto ; /* h1 and description may need tightening up */
    text-align: center;
}

body {text-align: left;
      width: 100% ;
      height: 100vh ;
      margin: 0 ; /* gets rid of scroll bar */
      background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}

form {
    width: 60vw ;
    margin: 0 auto ; /*centers form*/
    max-width: 500px ;
    min-width: 300px ;
}

/*fieldset{ margin: 0.5rem auto ;
} */

label {display: block ;
    margin: 0.5rem auto ;   
}

#number-label {margin-left: 10px ;}

#dropdown {display:block ;
      margin: 0.5rem auto ;      
}

.other { padding: 10 px ;
}

.inline {display: inline-block ;
    margin-right: 0.35rem ;
}

.checkbox {text-align: left;
    text-indent: 20 px; 
}

.button {margin: auto 45% ;
}

/*double border on boxes, last-of-type for submit (move up/away from bottom), prefilled text in textareas */